h1{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
    padding-bottom: 10px;
}
.heading{
    background-color:#2B3137 ;
    margin-top: -25px;
    margin-left:-10px;
    margin-right:-10px;
    padding-top:5px;
    
}
body{
    background-color:#24292D ;
}
h3{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -10px;
}
a{
    color:#ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}